[Desktop Entry]
Name=SpaghettiKart
Comment=An unofficial port of Mario Kart 64
Exec=Spaghettify
Terminal=false
Icon=icon
StartupWMClass=Spaghettify
Type=Application
Categories=Game;Retro;
